p.j2t-social-title-content {font-weight: bold; text-align: left;}
.block-rewardsocial-content {padding-left:5px; padding-right:5px; text-align: left;}
.j2t-social-inside-content {text-align: left;}
div.product-view-social-points {clear: both; padding-top:10px;}

