<?xml version="1.0"?>
<config>
  <modules>
    <IVVYRU_ConfDefault>
      <version>1.0.0.2</version> 
    </IVVYRU_ConfDefault> 
  </modules>
  <global>
    <blocks>
      <confdefault>
          <class>IVVYRU_ConfDefault_Block</class> 
      </confdefault> 
      <adminhtml>
        <rewrite>
           <catalog_product_edit_tab_super_config>IVVYRU_ConfDefault_Block_Catalog_Product_Edit_Tab_Super_Config</catalog_product_edit_tab_super_config>
        </rewrite> 
      </adminhtml>
      <catalog>
        <rewrite>
            <product_view_type_configurable>IVVYRU_ConfDefault_Block_Product_View_Type_Configurable</product_view_type_configurable>  
        </rewrite>
      </catalog>
    </blocks>
    <models>
       <catalog_resource>
          <rewrite>
             <product_type_configurable>IVVYRU_ConfDefault_Model_Resource_Product_Type_Configurable</product_type_configurable>
             <product_type_configurable_attribute>IVVYRU_ConfDefault_Model_Resource_Product_Type_Configurable_Attribute</product_type_configurable_attribute>
             <product_type_configurable_attribute_collection>IVVYRU_ConfDefault_Model_Resource_Product_Type_Configurable_Attribute_Collection</product_type_configurable_attribute_collection>
          </rewrite>
          <entities>
             <confdefault>
                <table>catalog_product_super_attribute_default_value</table>
             </confdefault> 
          </entities>
       </catalog_resource>  
       <catalog_resource_eav_mysql4>
           <rewrite>
             <product_type_configurable>IVVYRU_ConfDefault_Model_Resource_Product_Type_Configurable</product_type_configurable>
             <product_type_configurable_attribute>IVVYRU_ConfDefault_Model_Resource_Product_Type_Configurable_Attribute</product_type_configurable_attribute>
             <product_type_configurable_attribute_collection>IVVYRU_ConfDefault_Model_Resource_Product_Type_Configurable_Attribute_Collection</product_type_configurable_attribute_collection>
          </rewrite>
          <entities>
             <confdefault>
                <table>catalog_product_super_attribute_default_value</table>
             </confdefault> 
          </entities>
       </catalog_resource_eav_mysql4>
       <catalog>
          <rewrite>
             <product_type_configurable>IVVYRU_ConfDefault_Model_Product_Type_Configurable</product_type_configurable>  
             <product_type_configurable_attribute>IVVYRU_ConfDefault_Model_Product_Type_Configurable_Attribute</product_type_configurable_attribute>  
          </rewrite> 
       </catalog>
       <confdefault>
          <class>IVVYRU_ConfDefault_Model</class> 
          <deprecatedNode>catalog_resource_eav_mysql4</deprecatedNode>
          <resourceModel>catalog_resource</resourceModel>
      </confdefault>
    </models> 
    <resources>
      <confdefault_setup>
         <setup>
           <module>IVVYRU_ConfDefault</module> 
         </setup> 
      </confdefault_setup> 
      <connection>
         <use>core_setup</use>
      </connection>
    </resources>
  </global>
  <adminhtml>
      <layout>
           <updates>
                <confdefault>
                    <file>ivvyru.xml</file>
                </confdefault>
           </updates> 
      </layout> 
  </adminhtml>
</config>
